doctype 5
html
  head
    title Learning CoffeeScript by Trevor Burnham
    script(type='text/javascript', src='main.js')
    script(type='text/javascript', src='../lib/word.js')
    script(type='text/javascript', src='../lib/dom/zepto.min.js')
    script(type='text/javascript', src='../lib/dom/zepto-touch.js')

    link(rel='stylesheet', type='text/css', href='./main.min.css')
  body
    p#message
    #grid
    p#notice.notice
    table#scores
      tr
        th#p1name
        th#p2name
      tr
        td#p1score
        td#p2score
      tr
        td.word-list#p1message
        td.word-list#p2message
