doctype 5
html
  head
    title Learning CoffeeScript by Trevor Burnham

    if dist
      link(rel='stylesheet', type='text/css', href='./main.min.css')
      script(type='text/javascript', src='./main.min.js')
      script(type='text/javascript').
        $(function(){(new Scrabble.Game({words:Words})).new()})

    else
      link(rel='stylesheet', type='text/css', href='./main.css')
      script(type='text/javascript', src='./main.js')
      script(type='text/javascript', src='../lib/word.js')
      script(type='text/javascript', src='../lib/dom/zepto.min.js')
      script(type='text/javascript', src='../lib/dom/zepto-touch.js')

  body
    p#message
    #grid
    p#notice.notice
    table#scores
      tr
        th#p1name
        th#p2name
      tr
        td#p1score
        td#p2score
      tr
        td.word-list#p1message
        td.word-list#p2message
